<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="cn.cyj.springframework.test.bean.UserDao"
          init-method="initData" destroy-method="clearData"/>

    <bean id="userService" class="cn.cyj.springframework.test.bean.UserService">
        <property name="uId" value="1"/>
        <property name="company" value="company name"/>
        <property name="location" value="location detail"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="myAware" class="cn.cyj.springframework.test.aware.MyAware"/>

<!--    <bean class="cn.cyj.springframework.test.common.MyBeanFactoryPostProcessor"/>-->
<!--    <bean class="cn.cyj.springframework.test.common.MyBeanPostProcessor"/>-->
</beans>